<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bunny-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{1,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{42,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{329,1},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{83,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{369,1},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{124,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{165,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{409,1},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{206,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{247,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,50}</string>
                <key>spriteSourceSize</key>
                <string>{38,50}</string>
                <key>textureRect</key>
                <string>{{449,1},{38,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bunny-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,50}</string>
                <key>spriteSourceSize</key>
                <string>{39,50}</string>
                <key>textureRect</key>
                <string>{{288,1},{39,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bunny.png</string>
            <key>size</key>
            <string>{488,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:855aad5f01d81e4f56a7aa4aa91afa81:3144d373a1e8af937ed269b263574495:b0e22546b50235cc5f3a368be04dba8a$</string>
            <key>textureFileName</key>
            <string>bunny.png</string>
        </dict>
    </dict>
</plist>
