<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Back  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Back Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,1},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Continue  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,1},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Continue Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Controls  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,203},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Controls Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,203},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Exit  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1807,1},{600,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Exit Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,405},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Load  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,405},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Load Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,405},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Menu  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,607},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Menu Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,607},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New Game  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,607},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>New game Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,809},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Options  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,809},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Options Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,809},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Play Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1807,603},{600,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Play col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,1011},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Quit  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,1011},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Quit Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,1011},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Resume  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,1213},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Resume Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,1213},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settings  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,1213},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settings Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1,1415},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Start  col_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{603,1415},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Start Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,200}</string>
                <key>spriteSourceSize</key>
                <string>{600,200}</string>
                <key>textureRect</key>
                <string>{{1205,1415},{600,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{2008,1616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e99928af257def50c8b9ebe0005a66f8:271c689f7c8cffb84af0d7fdb3a8f85b:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
