<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{36,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{421,1},{36,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-4}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{203,1},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Attack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{85,1},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{127,1},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{36,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{165,1},{36,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{38,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{45,1},{38,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{459,1},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{259,1},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{40,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{339,1},{40,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{501,1},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{299,1},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Run6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{381,1},{38,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player2.png</string>
            <key>size</key>
            <string>{542,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2d1eec7eefda5f111bb9cefe8090862:b7ae1c1bacd1d23ae5c322c07c4fd7b0:e90b857f8d265021c26c0c17c1d7d942$</string>
            <key>textureFileName</key>
            <string>player2.png</string>
        </dict>
    </dict>
</plist>
